body{
    background-color: gray;
}
*{
    margin: 0;
    padding: 0;
}

nav{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 45px;
    background-color: black;
    color: aliceblue;
}
nav ul li{
    padding: 1%;
}
.playlist{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    width: 100%;
    padding: 10px 5px 10px 10px;
    border-radius: 15px;
    list-style-type: none;
    height: auto;
    background-color: black;
    color: aliceblue;
    margin-bottom: 70px;
}
img{
    height: 38px;
}
.logo img{
    height: 40px;
    padding-right: 5px;
    
}
.logo{
    display: flex;
    align-items: center;
    font-size: 1.3rem;
}
.content{
    height: 80vh;
}



.songItem{
    height: 40px;
    display: flex;
    background-color: aliceblue;
    color: black;
    width: 350px;
    justify-content: space-between;
    border-radius: 25px;
    margin-top: 20px;
    align-items: center;
    cursor: pointer;
}
.ul{
    margin: -35px;
}
.songItem img{
    width: 43px;
    margin: 0 5px;
    border-radius: 35px;
}
.timestamp{
    margin: 0 5px;
}


.bottom{
    position: sticky;
    height: 110px;
    background-color: black;
    bottom: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: aliceblue;
}
.songinfo{
    position: absolute;
    left: 5vw;
}
.icons i{
    padding: 10px 10px 0px 2px;
    cursor: pointer;
}
#myProgressBar{
    width: 90%;
    cursor: pointer;
}